

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Ejemplos varios para aprender Angular</h1>
          <p class="lead text-muted">Consultar la siguiente documentación:</p>
          <p><a href="http://www.campus.formacion.ipartek.com/moodle/mod/page/view.php?id=1085" target="_blank" >TypeScript Página. Campus ipartek</a></p>
          <p><a href="https://www.youtube.com/watch?v=vFJT8pX0eXs&list=PLBdkl5-ytBTw28OJMumO-iUxYnShbhqwO">Videos sobre Angular</a></p>
          <p><a href="https://formacion.ipartek.com/catalogos/IFCD0210/manual-angular-2.pdf">Manual sobre Angular</a></p>

        </div>
      </section>
    </main>

